/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: #fafafa;
}

.login-submit {
  font-family: 'helvetica', bold;
  font-size: 15px;
  background-color: #3897f0;
  color: white;
  padding: 3px;
  margin: 9px 8px;
  border-radius: 3px;
  width: 200px;
}

.demo-login-submit {
  font-family: 'helvetica', bold;
  font-size: 15px;
  background-color: #3897f0;
  color: white;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 200px;
}

.login-input {
  background-color: #fafafa;
  width: 200px;
  margin: 3px;
  border: 1px solid lightgray;
}

.login-form-container {
  display: flex;
  border: 1px solid lightgray;
  background-color: white;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 348px;
 }

 .login-form-box {
   padding: 25px;
 }

 .link-to-signup {
   font-family: 'helvetica', bold;
   font-size: 15px;
   display: flex;
   border: 1px solid lightgray;
   background-color: white;
   justify-content: center;
   text-align: center;
   margin: auto;
   margin-top: 10px;
   width: 348px;
 }

.login-title-font {
  font-family: 'helvetica', bold;
}

.login-description-font {
  font-family: 'helvetica';
  font-weight: normal;
  font-size: 15px;
  color:  #A0A0A0;
}

.login-errors {
  font-family: sans-serif;
  color: red;
  background-color: white;
  font-size: 14px;
}

.redirect {
  color: #3897f0;
  background-color: white;
}
