.edit-profile {
  display: flex;
  background-color: #fafafa;
  padding-top: 100px;
  margin-left: 6%;
  justify-content: center;
}

.edit-container {
  display: flex;
  flex-shrink: 0;
  background: white;
  font-family: 'helvetica';
  align-items: center;
  width: 500px;
  height: 360px;
  padding: 40px;
  border: 1px solid #efefef;
  border-radius: 4px;
  margin-right: 48px;
}

.profile-pic-edit {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin-bottom: 35px;
  object-fit: cover;
  cursor: pointer;
  margin-left: 80px;
}

.edit-input-boxes {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.username-label {
  display: flex;
  align-items: center;
}

.edit-username {
  margin-right: 11px;
  font-weight: bold;
  opacity: .8;
}

.edit-username-input {
  border: 1px solid #efefef;
  width: 124px;
  padding: 3px;
}

.password-label {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.edit-password {
  margin-right: 13px;
  font-weight: bold;
  opacity: .8;
}

.edit-password-input {
  width: 124px;
  padding: 2px;
  border: 1px solid #efefef;
}

.bio-label {
  display: flex;
  margin-top: 7px;
}

.edit-bio {
  margin-right: 62.5px;
  font-weight: bold;
  opacity: .8;
}

.bio-input {
  width: 250px;
  height: 50px;
  padding: 6px;
  margin-top: 2px;
  border: 1px solid #efefef;
  resize: none;
}

.edit-button {
  font-family: 'helvetica';
  font-size: 13px;
  width: 200px;
  margin-top: 15px;
  background-color: #3897f0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-left: 86px;
}

.name-and-edit-container {
  display: flex;
  align-items: center;
  height: 27%;
}

.edit-profile-button {
  font-family: 'helvetica';
  width: 92px;
  border-radius: 10%;
  background-color: #fafafa;
  font-size: 90%;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
}

.edit-profile-button:active {
  opacity: .5;
  border-style: outset;
}

.edit-button {
  cursor: pointer;
}

.edit-button:active {
  opacity: 0.5;
  border-style: outset;
}

.edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-profile-selector-label {
  display: flex;
  justify-content: center;
}

#new-profile-selector {
  width: 0;
  height: 0;
}

#edit-image-preview {
  width: 145px;
  height: 145px;
  margin-bottom: 35px;
  margin-left: 70px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.upload-profile-photo-errors {
  font-family: 'helvetica';
  color: red;
  background-color: white;
  font-size: 14px;
  padding-left: 79px;
}

.upload-profile-photo-list {
  display: flex;
  justify-content: center;
  padding: 10px;
}
