.index {
  display: flex;
  justify-content: center;
  padding-top: 105px;
  font-family: 'helvetica';
}

.index-image-container {
  justify-content: center;
  margin: 100px;
  margin: 30px;
}

.index-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.index-image {
  display: block;
  width: 100%;
}

.index-image-info {
  display: flex;
  align-items: center;
  padding: 11px;
  background: white;
  border: 1px solid #efefef;
}

.index-image-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.index-image-username {
  color: black;
  padding-left: 9px;
  font-size: 17px;
}

.index-image-link {
  text-decoration: none;
}

.index-image-info-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 4px;
  background: white;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.heart {
  width: 26.5px;
  height: 26.5px;
  cursor: pointer;
}

.comment-logo {
  width: 24px;
  height: 24px;
  margin-bottom: 1.6px;
  margin-left: 3px;
}

.index-like-count {
  font-size: 16px;
  margin-left: 3px;
  margin: 5px 0 5px 3px;
}

.index-image-created-at {
  font-size: 10px;
  letter-spacing: .2px;
  color: #999;
  margin: 10px 0 10px 3px;
}

.comment-input {
  border: 1px solid white;
  border: none;
  min-height: 32px;
  font-size: 14px;
  margin-left: 2px;
  width: 100%;
}

.comments {
  margin-left: 3px;
  font-size: 14px;
}

.comment-divider {
  background: #efefef;
  height: 1px;
}

.comment-and-username {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-username {
  font-weight: bold;
  margin-right: 4.2px;
  padding: 4px 0 4px 0;
}

.comment-username-link {
  color: black;
  text-decoration: none;
}

.comment-body {
  display: flex;
  align-items: center;
}

.remove-icon {
  width: 10px;
  margin-left: auto;
  cursor: pointer;
}

.caption-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 3px;
  font-size: 14px;
}

.caption-username-link {
  color: black;
  text-decoration: none;
}

.caption-username {
  font-weight: bold;
  margin-right: 4.2px;
  padding: 4px 0 4px 0;
}