.index {
  display: flex;
  justify-content: center;
  padding-top: 105px;
  font-family: 'helvetica';
}

.index-image-container {
  justify-content: center;
  margin: 100px;
  margin: 30px;
}

.index-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.index-image {
  width: 100%;
}

.index-image-info {
  display: flex;
  align-items: center;
  padding: 11px;
  background: white;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.index-image-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.index-image-username {
  color: black;
  padding-left: 9px;
  font-size: 17px;
}

.index-image-link {
  text-decoration: none;
}

.index-image-info-bottom {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.heart {
  width: 26.5px;
  height: 26.5px;
}

.comment-logo {
  width: 24px;
  height: 24px;
  margin-bottom: 1.6px;
  margin-left: 3px;
}

.like-count {
  
}
