.nav-bar {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.nav-bar-items {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #efefef;
  padding: 14px 9px;
  padding-top: 14px;
  justify-content: center;
  align-items: center;
}

.left-nav-bar {
  margin-right: 20%;
}

.right-nav-bar {
  display: flex;
  margin-left: 20%;
  align-items: center;
}

.main-logo {
  width: 82px;
  opacity: .8;
}

.main-logo:hover {
  cursor: pointer;
}

.main-logo:active {
  opacity: 0.5;
}

.search-input {
  font-family: 'helvetica';
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  background-color: #fafafa;
  padding: 6px;
  padding-left: 37px;
  width: 180px;
  height: 14px;
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: 15px;
  font-weight: lighter;
}

.search-input:focus {
  background-color: #ffffff;;
}

.profile-logo {
  width: 44px;
}

.upload-logo {
  width: 33px;
  padding-top: 2px;
  padding-right: 4px;
  opacity: 0.6;
}

.profile-logo:hover {
  cursor: pointer;
}

.upload-logo:hover {
  cursor: pointer;
}

.profile-logo:active {
  opacity: 0.5;
}

.upload-logo:active {
  opacity: 0.3;
}

.result {
  display: flex;
  justify-content: center;
  width: 225px;
  position: absolute;
  border-radius: 3px;
}