.nav-bar {
  position: fixed;
  width: 100vw;
}

.nav-bar-items {
  display: flex;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 14px 9px;
  padding-top: 14px;
  justify-content: center;
  align-items: center;
}

.left-nav-bar {
  margin-right: 20%;
}

.right-nav-bar {
  margin-left: 20%;
}

.main-logo {
  width: 82px;
}

.main-logo:hover {
  cursor: pointer;
}

.main-logo:active {
  opacity: 0.5;
}

.search-input {
  font-family: 'helvetica';
  background-color: #fafafa;
  padding: 6px;
  width: 199px;
  height: 14px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 15px;
  font-weight: lighter;
}

.profile-logo {
  width: 44px;
}

.profile-logo:hover {
  cursor: pointer;
}

.profile-logo:active {
  opacity: 0.5;
}
