.photo-component {
  display: flex;
  justify-content: center;
  width: 93%;
  font-family: 'helvetica';
}

.photo {
  display: block;
  min-width: 500px;
  min-height: 500px;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.photo-and-info {
  background: black;
}

.photo-info {
  display: flex;
  flex-direction: column;
  background: white;
  width: 335px;
}

.photo-user-info {
  display: flex;
  align-items: center;
  padding: 20px;
}

.photo-profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.photo-divider {
  height: 1px;
  width: 87%;
  align-self: center;
  background: #efefef;
}

.caption-and-comment {
  width: 287px;
  height: 55%;
  padding: 12px 24px 12px 24px;
}

.likes-and-comment {
  padding: 6px 24px 2px 24px
}

.comment-logo-photo {
  width: 24px;
  height: 24px;
  margin-bottom: 1.6px;
  margin-left: 3px;
}

.like-count-photo {
  padding: 2px 0 2px 0;
}

.image-created-at {
  display: flex;
  padding: 2px 0 2px 0;
}
