.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  background-color: #fafafa;
  align-items: center;
  font-family: 'helvetica';
}

.user-profile {
  display: flex;
  height: 190px;
  justify-content: center;
  align-items: center;
}

.profile-images {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding-top: 2.5%;
}

.image-container {
  position: relative;
  width: 33%;
  padding-top: 33%;
}

.image {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 90%;
  height: 90%;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.image-stats {
  display: flex;
  position: absolute;
  background-color: black;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 90%;
  height: 90%;
}

.image-stats:hover {
  cursor: pointer;
  opacity: 0.5;
}

.image-stats-info {
  font-family: 'helvetica';
  color: white;
}

.user-profile {
  width: 90%;
  padding-bottom: .5%;
}

.profile-info {
  width: 100%;
}

.profile-pic-container {
  max-width: 33%;
  margin-left: 5%;
}

.profile-pic {
  max-width: 100%;
  border-radius: 50%;
}

.divider {
  width: 80%;
  height: 1px;
  background: lightgray;
  margin-right: 3%;
}

.profile-info-container {
  display: flex;
  width: 72%;
  padding: 14px;
  margin-left: 6%;
}

.username {
  font-family: 'helvetica';
  font-size: 130%;
  margin-right: 15px;
}

.name-and-edit-container {
  display: flex;
  align-items: center;
  height: 27%;
}

.edit-profile-button {
  font-family: 'helvetica';
  width: 90px;
  border-radius: 10%;
  background-color: #fafafa;
  font-size: 90%;
  padding: 7px;
  margin-right: 5px;
}

.edit-profile-button:active {
  opacity: .5;
  border-style: outset;
}

.logout-button {
  color: #fafafa;
  width: 26px;
  opacity: .6;
  margin-left: 6px;
}

.logout-button:hover {
  cursor: pointer;
}
