.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  background-color: #fafafa;
  align-items: center;
  font-family: 'helvetica';
}

.user-profile {
  display: flex;
  width: 950px;
  height: 190px;
  justify-content: center;
  align-items: center;
}

.profile-images {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 33%;
  padding-top: 33%;
}

.image {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 90%;
  height: 90%;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.image-stats {
  display: flex;
  position: absolute;
  background-color: black;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 90%;
  height: 90%;
}

.image-stats:hover {
  cursor: pointer;
  opacity: 0.5;
}

.image-stats-info {
  font-family: 'helvetica';
  color: white;
}
